/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff;
  color: #666; }

a {
  text-decoration: underline;
  color: #aaa; }
  a:hover {
    color: #000;
    cursor: pointer; }

header .google-maps {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden; }
header .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 50px; }
header .google-form {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden; }
header .google-form iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 50px; }
@media (min-width: 768px) {
  header .google-maps {
    padding-bottom: 60%; } }
@media (min-width: 1200px) {
  header .google-maps {
    padding-bottom: 45%; } }

.sections {
  max-width: 860px;
  text-align: center;
  font-family: 'Slabo 13px', sans-serif;
  font-size: 13px;
  margin: 30px auto 0; }
  .sections a {
    display: block;
    padding: 5px; }
  @media (min-width: 768px) {
    .sections {
      display: none; } }

.desk-sections {
  max-width: 860px;
  text-align: center;
  font-family: 'Slabo 13px', sans-serif;
  font-size: 13px;
  margin: 30px auto 0; }
  @media (max-width: 768px) {
    .desk-sections {
      display: none; } }

main {
  max-width: 860px;
  margin: 0 auto;
  padding: 2% 5%; }
  main .entry {
    margin: 20px 0; }
  main h1, main h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  main h1 {
    font-size: 2em;
    margin: 40px 0 20px; }
    main h1 a {
      text-decoration: none;
      color: #666; }
      main h1 a:hover {
        color: #666; }
  main h2 {
    font-size: 1.2em;
    margin-bottom: 20px; }
  main p {
    line-height: 1.5em;
    font-size: 13px;
    font-family: 'Slabo 13px', serif;
    color: #aaa;
    margin-bottom: 5px; }
  main span {
    font-weight: 700; }
  @media (min-width: 768px) {
    main h1 {
      font-size: 3em; }
    main h2 {
      font-size: 2em; } }
  main .suggest {
    text-align: center;
    margin-bottom: 40px; }
    main .suggest h2 {
      margin-bottom: 20px;
      font-size: 1.2em; }
    main .suggest a {
      background-color: orange;
      font-family: 'Lato', sans-serif;
      color: white;
      text-decoration: none;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #eee; }
      main .suggest a:hover {
        background-color: #b37400; }
